@import url(‘https://rsms.me/inter/inter.css’);
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  margin: 0;
  font-family: 'HarmonyOS Sans','Inter var', Arial, sans-serif;
}

header {
  text-align: center;
  display: inline;
}

header h1 {
  font-weight: 900;
  letter-spacing: -0.075em;
  line-height: 1.1;
  font-family: 'HarmonyOS Sans','Inter var', Arial, sans-serif;
}

header a {
  color: inherit; text-decoration: inherit;
}


#content1 {
  background-image: linear-gradient(134deg, #BAD404, #606FFF);
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
  color:#dadada;
  padding: 50px;
  min-height:20em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#elements {
  position: absolute;
  top:50%;
  margin-top:-10em;
}

#warning 
{
  padding: 1em;
  background-color: #BAD404;
  color: black;
  text-align: center;
}

#warning > h1 {
  max-width: 100;
  padding-left:0.5em;
  padding-right: 0.5em;
  font-size: x-large;
}

#content1 > button {
  padding: 1em;
  border-radius: .5em;
  background-color:#d46060;
  color: white;
  margin-top: 1em;
  font-family: 'HarmonyOS Sans','Inter var', Arial, sans-serif;
  border-style: none;
  cursor: pointer;

}

#content1 > h1 {
  margin:0;
}

@media screen and (max-width: 500px) {
  
  header {
    height: 7em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  header > h1 {
    text-align: left !important;
    margin-left: 20px !important;
    text-align: left;
    font-size: x-large;
  }
}
